body
{
	font-family: verdanna;
	color: #616161;
	font-size: 20px;

}


header figure
{	
	
	text-align: center;
	padding: 50px 0;
}


header figure img
{
 	width: 50%;
 	border-radius: 50%;
 	border: 5px rgb(223, 177, 47) solid;

}

span
{
	border-bottom: 2px #FFCA28 solid;
}

.title
{
	margin: auto;
}

h1
{
 	color: #424242;
 	font-size: 40px;
}
h2
{
	font-size: 30px;
}

strong
{
 	color: #FFCA28;
 	font-weight: bold;

}

.container
{
	display: flex;
	flex-wrap: wrap;
	
}


.container >*:nth-child(1)

{
	width: 35%;
	background: #FFCA28;
}


main h2
{
	text-align: center;
	color: #FFCA28;
	background-color: #424242;
	padding: 10px 0;

}


ul li
{
	padding: 10px;
	margin: 20px;

}


 p
 {
 	
 	text-align: justify;
 	padding: 50px;
 	margin-bottom: 300px;

 }
