.container   												/*restriction de l'ecran pour une meilleure visibilité*/
{
	width: 97%;
	margin: 0 auto;
}
.container >*:nth-child(1),.container >*:nth-child(2) 		 /*optimisation de l'espace sur petit écran*/
{
	width: 100%;
}

 .title, .container >*:nth-child(2) div	     				 /*marge pour les titres pour un contenu aéré*/
 {
 	margin: 40px auto;
 	
 }

section .yellow_bloc div i 									/*image des loisirs mieux répartir dans l'espace*/
{
margin: 5px;
}

main p 														/*paragraphe 'à propos de moi' plus centré*/
{
	padding:0px;
}

article 													/*bloc blanc passe en colonne*/
{	
	display: flex;
	flex-direction: column;
}

.contact								/*partie recommandation qui passe en colonne*/
{
	display: flex;
	flex-direction: column;
}


body >*:nth-child(3)					/*loisirs qui passe en dessous de recommandation*/
{
	display: flex;
	flex-direction: column-reverse;
}

.container >*:nth-child(2)				/*supression de la marge gauche pour le bloc blanc */
{
	margin-left: 0px;

}